<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css "/>
    <link rel="stylesheet" href="/uikit/css/uikit.css">
    <script src="/uikit/js/uikit.js"></script>
    <script src="/uikit/js/uikit-icons.min.js"></script>
    <title>详情页</title>
</head>
<body>
     <!-- nav-top -->
     <div class="uk-width-1-1 nav bg-color uk-position-relative" >
        <div class="uk-container uk-container-expand">
            <nav class="uk-navbar">
                <div class="uk-navbar-left">
                    <span class="font-color logo" onclick="window.location='/'">晴晴的留言板</span>
                </div>
                <div class="uk-navbar-right ">
                      <div class="uk-navbar uk-navbar-item" style="color: white; font-weight: bolder;"> <%= username %> </div>
                      <div class="uk-navbar uk-navbar-item" style="font-weight: bolder;">
                          <a href="/write" style="color: white;">写留言</a>
                      </div>
                      <div class="uk-navbar uk-navbar-item" style="font-weight: bolder;">
                          <a href="/users/logout" style="color: white;">退出</a>
                      </div>
                </div>  
            </nav>
        </div>     
      </div>
  


    <article class="uk-comment uk-comment-primary uk-position-center uk-padding-large"style="width:900px" >
        <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-comment-avatar" src="/img" width="80" height="80" alt="">
            </div>
            <div class="uk-width-expand">
                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#"> <%= item.title %></a></h4>
                <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                  <li><a href=""><%= item.username %></a></li>
                  <li><a href="#"><%= item.time %> </a></li>
                </ul>
            </div>
        </header>
        <div class="uk-comment-body uk-margin-medium" style="font-size: 16px;">
            <p><%= item.content %></p>
        <div class="uk-margin">
          <button class="uk-button uk-button-primary " style="background-color: #7952b3d6"
                   >
                  修改</button>
          <button class="uk-button uk-button-primary " style="background-color: #7952b3d6" 
                  >
                  删除</button>
        </div>
      </article>
</body>
</html>